.footer
  border-top: 1px #404040 solid
  font-size: 16px
  color: white
  width: 100%
  max-width: 1240px
  padding: 25px 0 20px
  margin: auto
  text-align: center

  +media(s)
    font-size: 12px
    
  &-list
    display: flex
    justify-content: center
    list-style: none

    +media(l)
      max-width: 990px

    &__leftside
      flex: 3
      vertical-align: top
      display: inline-block

      +media(l)
        max-width: 360px
      
      +media(m)
        display: none

      &-img
        width: 180px
        margin-bottom: 20px
      
      &-text
        margin-top: 20px
        width: 380px
        color: #808080

    &__products
      flex: 1
      vertical-align: top
      display: inline-block

      +media(m)
        margin-left: 20px

      &-title
        border-bottom: 1px solid #57F86F
        font-size: 18px

        +media(s)
          font-size: 14px

      &-services
        list-style: none
        color: #808080
    
    &__info
      flex: 1
      vertical-align: top
      display: inline-block

      +media(m)
        margin-left: 20px

      &-title
        border-bottom: 1px solid #57F86F
        font-size: 18px

        +media(s)
          font-size: 14px

      &-details
        list-style: none
        color: #808080
        padding-left: 0

    &__follow
      flex: 1
      vertical-align: top
      display: inline-block

      +media(l)
        margin-left: 10px

      +media(m)
        margin-left: 20px

      &-title
        border-bottom: 1px solid #57F86F
        font-size: 18px

        +media(s)
          font-size: 14px

      &-media
        list-style: none
        padding-left: 0

        &-icon
          display: inline-block

.footerlink
  color: #808080 !important

.footerlink:hover
  text-decoration: none
  color: white !important
