.footer
  font-size: 16px
  padding-top: 1.5%
  padding-bottom: 0.5%
  color: whitesmoke
  background-color: black

  &__hr
    background-color: grey
    width: 90%

  &__list
    list-style: none
    width: 95%
    margin: 2% 4% 2% 2%

    &-rights
      display: inline-block
    
    &-icon
      display: inline-block
      float: right 
      margin: 0 15px

  &__icon:hover
    cursor: pointer

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8 
@media screen  and (max-width: 414px) and (max-height: 823px)
  .footer
    font-size: 12px

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8  (landscapes)
@media screen and (min-width: 415px) and (max-width: 823px) and (max-height: 414px)
  .footer
    font-size: 12px

// Adjust for Ipad and Ipad Pro
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px)
  .footer
    font-size: 16px

// Adjust for resposive website
@media screen and (min-width: 569px) and (max-width: 768px) and (min-height: 1023px) and (max-height: 1116px)
  .footer
    font-size: 16px
    



  
