@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&display=swap')

.navbar
  background-color: #222222 !important

  .font
    font-family: 'Roboto', sans-serif
    font-family: 'Titillium Web', sans-serif

  .logo-brand
    margin-left: 10px 
    height: 40px
    width: 40px

  .b-dropdown-item
    background-color: #222222 !important

  a
    color: whitesmoke
    text-decoration: none
    background-color: transparent
  
  a:hover
    text-decoration: none
    color: #58f86e