.about-1
  padding: 126px 0px
  width: 100%
  max-width: 1240px
  margin: auto
  text-align: center

  &__contact
    font-size: 20px

  &__img
    display: block
    margin: auto
    width: 75%

  &__divein
    margin-top: 100px 
    color: white

  &__arrow
    width: 40px
    margin-top: -20px

.about-2
  padding: 96px 0px
  width: 100%
  max-width: 1240px
  margin: auto
  text-align: center

  &__img
    width: 100%

.about-3
  padding: 96px 0px
  width: 100%
  max-width: 1240px
  margin: auto
  text-align: center

  &__imgstory
    height: 100%
    width: 95%
    transition: 0.5s
    position: relative

    &-img 
      width: 100%
      height: 100%
    
    &-label
      text-align: center
      color: white
      position: absolute
      margin-top: -60px

  &__imgstory:hover
    border: 3px solid #57F86F

  &__imgstory:hover .about-3__imgstory-label
    color: #57F86F
  // Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8 
@media screen and (max-width: 414px) and (max-height: 823px)
  .about-1
    padding-top: 48px
    padding-bottom: 0px

    &__header
      font-size: 34px
    
    &__subtitle
      font-size: 16px

    &__contact
      font-size: 18px
    
    &__img
      width: 80%

    &__divein
      font-size: 12px

    &__arrow
      margin-top: -40px
      width: 20px


          

      



      