.codeMd-1
  padding-top: 5%

  &__leftside
    color: white
    text-align: center

    &-head
      margin: 10% auto 0%
      font-size: 40px
      font-weight: bold
      width: 80%
    
    &-text
      font-size: 22px

  &__rightside 
    &-img
      margin: 5% auto
      width: 50%

.codeMd-2
  padding: 96px 0px

  &__head
    text-align: center
    color: white
    font-size: 40px
    font-weight: bold
  
  &__text
    text-align: center
    color: white
    font-size: 20px

  &__info
    border: 3px solid #1C75BC
    padding: 2%
    margin: 2% auto !important
    width: 60%
    
    &-img
      width: 100%
      padding-top: 50%
    
    &-text
      margin-left: 0%
      color: white

      &-head
        font-size: 26px
      
      &-description
        font-size: 20px

.codeMd-3
  margin-top: 10% 
  text-align: center

  &__head
    color: white
    font-size: 40px
    font-weight: bold
  
  &__text
    color: white
    font-size: 26px

  &__img
    width: 60%
    margin: 5% auto

.codeMd-4
  margin-top: 10%

  &__head
    text-align: center
    color: white
    font-size: 40px
    font-weight: bold

  &__text
    margin: 0 auto
    text-align: center
    color: white
    font-size: 22px
    width: 50%
  
  &__img
    width: 40%
    display: block
    margin: 2% auto

.codeMd-5
  margin-top: 10%

  &__leftside
    &-img
      width: 100%

  &__rightside
    &-head
      margin-top: 10%
      text-align: center
      color: white
      font-size: 40px
      font-weight: bold
    
    &-text
      text-align: center
      color: white
      font-size: 24px

.codeMd-6
  margin-top: 5%
  margin-bottom: 5%

  &__header
    font-size: 40px
    font-weight: bold
    
    &-subtext
      font-size: 20px
      margin-bottom: 5%
      font-weight: bold
  
  &__text
    font-style: italic
    margin: 2% auto
    font-size: 18px
    margin-bottom: 5%
  
  &__author
    font-size: 18px

.carousel-item
  height: 600px
  
  .w-100
    height: 100% 
    filter:  brightness(30%)

.carousel-caption 
  top: 30px !important

.link_codeMd
  font-size: 26px
  color: #1C75BC !important

.link_codeMd:hover
  text-decoration: none
  color: #CC1599 !important 

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8 
@media screen and (max-width: 414px) and (max-height: 823px)
  .link_codeMd
    font-size: 16px

  .codeMd-1
    &__leftside
      &-head
        font-size: 22px
      
      &-text
        font-size: 16px
    
    &__rightside
      &-img
        width: 60%
        margin: 2% 20%
  
  .codeMd-2
    &__head
      font-size: 22px
    
    &__text
      font-size: 16px
      width: 80%
      margin: auto
    
    &__info
      width: 80%
      &-img 
        width: 50%
        padding-top: 5%

      &-text
        &-head
          font-size: 20px

        &-description
          font-size: 14px
    
  .codeMd-3
    &__head
      font-size: 22px
    
    &__text
      width: 80%
      margin: auto
      font-size: 16px
    
    &__img
      width: 80%
    
  .codeMd-4
    &__head
      font-size: 22px
    
    &__text
      width: 90%
      margin: auto
      font-size: 16px
    
    &__img 
      width: 70%
  
  .codeMd-5
    &__rightside
      &-head
        font-size: 22px

      &-text
        font-size: 16px

  .codeMd-6
    &__header
      font-size: 14px
      
      &-subtext
        font-size: 10px
    
    &__text
      font-size: 6px

    .carousel-item
      height: 200px

// Adjust for Ipad and Ipad Pro
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px)
  .codeMd-1
    &__leftside
      margin: auto
      &-head
        font-size: 26px
        margin: auto
        width: 90%
      
      &-text
        width: 90%
        margin: auto
        font-size: 20px
    
    &__rightside
      &-img
        width: 60%
        margin: 10% 10%

  .codeMd-2
    &__head
      font-size: 26px
    
    &__text
      font-size: 20px
      width: 90%
      margin: auto

    &__info
      width: 80%

      &-img
        padding-top: 100%
  
  .codeMd-3
    &__head
      font-size: 26px
    
    &__text
      font-size: 20px
      width: 90%
      margin: auto
    
    &__img 
      width: 70%
  
  .codeMd-4
    &__head
      font-size: 26px
    
    &__text
      font-size: 20px
      width: 90%
      margin: auto
  
    &__img 
        width: 60%
  
  .codeMd-5
    &__rightside
      &-head
        font-size: 26px

      &-text
        width: 90%
        margin: auto
        font-size: 18px
  
  .codeMd-6
    &__header
      font-size: 24px
      
      &-subtext
        font-size: 18px
    
    &__text
      font-size: 14px