.codeMd-1
  padding-top: 5%

  &__leftside
    color: whitesmoke
    text-align: center

    &-head
      margin-top: 10%
      font-size: 52px
      font-weight: bold
    
    &-text
      font-size: 20px

  &__rightside 
    &-img
      width: 70%

.codeMd-2
  margin-top: 10%

  &__head
    text-align: center
    color: whitesmoke
    font-size: 52px
    font-weight: bold
  
  &__text
    text-align: center
    color: whitesmoke
    font-size: 20px

  &__info
    border: 3px solid #1C75BC
    padding: 2%
    margin: 2% auto !important
    width: 60%
    
    &-img
      width: 100%
      padding-top: 2%
    
    &-text
      margin-left: 0%
      color: whitesmoke

      &-head
        font-size: 26px
      
      &-description
        font-size: 20px

.codeMd-3
  margin-top: 10% 
  text-align: center

  &__head
    color: whitesmoke
    font-size: 52px
    font-weight: bold
  
  &__text
    color: whitesmoke
    font-size: 52px
    font-size: 26px

  &__img
    width: 60%
    margin: 5% auto

.codeMd-4
  margin-top: 10%

  &__head
    text-align: center
    color: whitesmoke
    font-size: 52px
    font-weight: bold

  &__text
    margin: 0 auto
    text-align: center
    color: whitesmoke
    font-size: 22px
    width: 30%
  
  &__img
    width: 45%
    display: block
    margin: 2% auto

.codeMd-5
  margin-top: 10%

  &__leftside
    &-img
      width: 100%

  &__rightside
    &-head
      margin-top: 10%
      text-align: center
      color: whitesmoke
      font-size: 52px
      font-weight: bold
    
    &-text
      text-align: center
      color: whitesmoke
      font-size: 26px

.codeMd-6
  margin-top: 5%
  margin-bottom: 5%

  &__header
    font-size: 48px
    font-weight: bold
    
    &-subtext
      font-size: 20px
      margin-bottom: 5%
      font-weight: bold
  
  &__text
    font-style: italic
    margin: 2% auto
    font-size: 20px
    margin-bottom: 5%
  
  &__author
    font-size: 18px

.carousel-item
  height: 600px
  
  .w-100
    height: 100% 
    filter:  brightness(30%)

.carousel-caption 
  top: 30px !important

.link_codeMd
  font-size: 26px
  color: #1C75BC !important

.link_codeMd:hover
  text-decoration: none
  color: #CC1599 !important 
  