.codeMd-1
  padding: 106px 0px
  width: 100%
  max-width: 1240px
  margin: auto

  &__leftside
    color: white
    text-align: center

    &-head
      font-size: 52px
      width: 100%
      max-width: 500px
      font-weight: 900
      margin-top: 40px
      margin-left: auto
      margin-right: auto
    
    &-text
      font-size: 26px
      margin-top: 10px
    
    &-btn
      font-size: 20px

  &__rightside 
    &-img
      margin-top: 20px
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 550px

.codeMd-2
  padding: 96px 0px
  width: 100%
  max-width: 1240px
  margin: auto

  &__head
    text-align: center
    color: white
    font-size: 40px
    font-weight: 900
    margin: 0px auto
  
  &__text
    text-align: center
    color: white
    font-size: 20px

  &__info
    border: 3px solid #1C75BC
    padding-top: 15px
    padding-left: 15px
    margin: 2% auto !important
    width: 80%
    background-color: black
    
    &-img

      &__first
        width: 90%
        margin-top: 10px
        margin-left: 10px
      
      &__second
        width: 85%
        margin-top: 5px
        margin-left: 10px

      &__third
        width: 105%
        margin-top: 5px
      
      &__fourth
        width: 110%
        margin-top: 10px
      
      &__fifth
        width: 100%
        margin-top: 5px
        margin-left: 5px
    
    &-text
      margin-left: 0%

      &-head
        color: #1C75BC
        font-size: 26px
        font-weight: 900
      
      &-description
        font-size: 20px
        color: white

.codeMd-3
  padding: 96px 0px
  text-align: center
  width: 100%
  max-width: 1240px
  margin-top: -2%
  margin-left: auto
  margin-right: auto

  &__head
    color: white
    font-size: 40px
    font-weight: 900
    margin: 0px auto
  
  &__text
    color: white
    font-size: 20px

  &__bar
    width: 80%
    margin-top: 40px 
    margin-left: auto !important
    margin-right: auto !important
    margin-bottom: 20px

    &-text
      color: white
      font-weight: bold
      font-size: 20px
  
  &__btn
    text-align: center
    font-size: 16px

.el-progress
  background-color: black

.el-progress__text
  color: white !important

.codeMd-4
  padding: 96px 0px
  width: 100%
  max-width: 1240px
  margin: auto

  &__head
    text-align: center
    color: white
    font-size: 40px
    font-weight: 900
    margin: 0px auto

  &__text
    max-width: 420px
    margin: 0 auto
    text-align: center
    color: white
    font-size: 20px
    width: 50%
  
  &__img
    width: 100%
    max-width: 600px
    display: block
    margin: 2% auto
  
  &__btn
    text-align: center
    font-size: 16px

.codeMd-5
  padding: 96px 0px
  width: 100%
  max-width: 1240px
  margin: auto

  &__leftside
    &-img
      width: 100%

  &__rightside
    &-head
      margin-top: 30%
      margin-left: auto
      margin-right: auto
      text-align: center
      color: white
      font-size: 40px
      font-weight: 900
    
    &-text
      text-align: center
      color: white
      font-size: 20px
    
    &-btn
      text-align: center
      font-size: 16px

.codeMd-6
  padding: 96px 0px
  width: 100%
  max-width: 1240px
  margin: auto

  &__img
    width: 100%
    position: relative
    filter: brightness(30%)
    -webkit-filter: brightness(30%)
  
  &__carousel
    position: absolute
    margin-top: -55%
    margin-bottom: 10%

  &__header
    font-size: 40px
    font-weight: 900
    margin: 0px auto
    
    &-subtext
      font-size: 20px
      margin-bottom: 5%
      font-weight: bold
  
  &__text
    font-style: italic
    margin: 2% auto
    font-size: 18px
    margin-bottom: 5%
  
  &__author
    font-size: 18px

.carousel-item
  height: 600px
  
  .w-100
    height: 100% 
    filter:  brightness(30%)

.carousel-caption 
  top: 30px !important

.link_codeMd
  color: #1C75BC !important

.link_codeMd:hover
  text-decoration: none
  color: #CC1599 !important 

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8 
@media screen and (max-width: 414px) and (max-height: 823px)
  .link_codeMd
    font-size: 16px

  .codeMd-1
    padding-top: 48px
    padding-bottom: 0px

    &__leftside
      margin-left: 0%
      &-head
        margin-top: 0px
        font-size: 32px
      
      &-text
        font-size: 16px
        min-width: 300px
    
    &__rightside
      &-img
        width: 60%
        margin: 2% 20%
  
  .codeMd-2
    padding-top: 48px
    padding-bottom: 0px

    &__head
      font-size: 32px
    
    &__text
      width: 80%
      font-size: 14px
      margin: auto
    
    &__info
      width: 100%
      padding: 0%

      &-img 
        width: 45%
        margin-left: 25%
        padding-top: 5%

      &-text
        padding-top: 10px
        padding-right: 0px !important
        &-head
          font-size: 20px

        &-description
          font-size: 14px
    
  .codeMd-3
    padding-top: 48px
    padding-bottom: 0px

    &__head
      font-size: 32px
    
    &__text
      width: 70%
      margin: auto
      font-size: 14px

    &__bar
      height: 70%

      &-text
        font-size: 16px
    
  .codeMd-4
    padding-top: 48px
    padding-bottom: 0px

    &__head
      font-size: 32px
    
    &__text
      margin: auto
      font-size: 14px
      width: 80%
    
    &__img 
      width: 70%
  
  .codeMd-5
    padding-top: 48px
    padding-bottom: 0px

    &__rightside
      &-head
        font-size: 32px
        margin-top: 0%

      &-text
        font-size: 14px

  .codeMd-6
    padding: 48px 0px
    
    &__header
      font-size: 14px
      width: 120%
      margin-left: -10% !important
      
      &-subtext
        margin-top: 5px
        font-size: 12px
        width: 130% !important
        margin-left: -15% !important
    
    &__text
      text-align: justify
      font-size: 10px
      width: 150%
      margin-left: -25% !important
      margin: auto
    
    &__author
      font-size: 8px

  .carousel-item
    height: 460px
    .w-100
      width: 300% !important
      margin-left: -35%

// Adjust for Ipad and Ipad Pro
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px)
  .codeMd-1
    padding: 48px 0px

    &__leftside
      &-head
        font-size: 30px
        margin-top: 10%
        margin-left: auto
        margin-right: auto
        width: 320px
      
      &-text
        padding-top: 10px
        width: 100%
        margin: auto
        font-size: 20px
    
    &__rightside
      &-img
        width: 70%
        margin: 10% 10%

  .codeMd-2
    padding-top: 48px 0px

    &__head
      font-size: 30px
    
    &__text
      font-size: 16px
      width: 80%
      margin: auto

    &__info
      width: 80%

      &-text
        font-size: 16px
        
      &-img
        padding-top: 20%
  
  .codeMd-3
    padding-top: 48px 0px
    
    &__head
      font-size: 30px
    
    &__text
      font-size: 16px
      width: 90%
      margin: auto
    
    &__bar
      width: 100%
      
      &-text
        font-size: 20px
  
  .codeMd-4
    padding-top: 48px 0px

    &__head
      font-size: 30px
    
    &__text
      font-size: 16px
      width: 90%
      margin: auto
  
    &__img 
        width: 60%
  
  .codeMd-5
    padding-top: 48px 0px

    &__rightside
      &-head
        margin-top: 15%
        font-size: 30px

      &-text
        font-size: 14px
        width: 90%
  
  .codeMd-6
    padding: 48px 0px

    &__header
      font-size: 24px
      
      &-subtext
        font-size: 18px
    
    &__text
      font-size: 14px