.contact
  padding: 60px 0px 84px
  width: 100%
  max-width: 1240px
  margin: auto

  +media(l)
    padding: 84px 0px

  +media(s)
    padding: 48px 0px

  &__content
    color: white
    text-align: center
    margin-bottom: 50px

    +media(s)
      margin-bottom: 25px

  &__title
    font-size: 48px
    font-weight: bold

    +media(s)
      display: none

    &-mobile
      display: none

      +media(s)
        display: inline-block
        font-size: 32px
  
  &__text
    font-size: 26px

    +media(s)
      font-size: 16px
    
    &-mobile
      display: none

      +media(s)
        display: inline-block

.form
  position: relative
  background-color: black
  border: 1px solid #1C75BC
  color: white
  max-width: 700px
  padding: 25px
  margin: auto
    
  &__input
    background-color: black !important
    color: #58F86F !important
    margin-bottom: 15px
    
  &__textarea
    background-color: black !important
    color: #58F86F !important
    resize: none

  &__btn
    border: 1px solid #1C75BC !important

    &-submit
      +media(s)
        margin-left: 15px
    
    &-clear
      +media(s)
        margin-left: 15px

.contact-info
  text-align: center
  margin: 0 auto
  color: white
       
  &__blackhole   
    position: relative
    height: 100%
    width: 100%
    margin-left: 15%
    z-index: 1
    -webkit-animation: rotation 20s infinite linear

    +media(s)
      margin-top: 20px
      margin-left: 0
      width: 280px

  &__spaceman
    position:  relative
    height: 260px
    margin-top: -65%
    margin-left: 55%
    z-index: 2

    +media(s)
      height: 180px

.form-control
  border: 1px solid #1C75BC !important

    