.contact

  &__hr
    width: 13%

  &__form
    position: relative
    z-index: 3
    color: whitesmoke
    width: 75%
    height: 100%
    padding-top: 5%
    padding-left: 6%
    margin: auto

    &-h2
      text-align: center
    
    &-input
      background-color: black !important
      color: #58F86F !important
      margin-bottom: 3%
    
  &__form:after
    content: ''
    position: absolute
    top: 0px
    left: 0px
    width: 110%
    height: 100%
    z-index: -1
    border-radius: 25px
    background-color: #222222
    border: 1px solid black
    opacity: 0.8
  
  &__brand
    height: 200px
    width: 210px
    margin: 25% 