.section-1
  text-align: center
  color: whitesmoke

  &__head
    padding-top: 5%
    font-size: 52px
    font-weight: bold
  
  &__text
    font-size: 32px

  &__img
    width: 35%

.section-2
  margin-top: 10%

  &__leftside
    
    &-img
      margin: 0% 20%
      width: 80%

  &__rightside
    color: whitesmoke
    text-align: center
    width: 80%

    &-head
      margin-top: 20%
      font-size: 52px
      font-weight: bold
    
    &-text
      font-size: 32px

.section-3
  margin-top: 10%
  text-align: center
  color: whitesmoke

  &__head
    font-size: 52px
    font-weight: bold

  &__text
    font-size: 34px

  &__img
    width: 60%

.section-4
  margin-top: 10%
  text-align: center
  color: whitesmoke

  &__head
    font-size: 52px
    font-weight: bold

  &__text
    font-size: 34px
  
  &-col
    border: 3px solid #1C75BC
    padding-top: 2%
    margin: 0 5%

  &__img
    margin-top: 5%
    border-color: yellow

    &-left
      width: 100%
      margin: 0 auto

      &-head
        font-size: 26px
        font-weight: bold

      &-img
        width: 55%

      &-text
        color: whitesmoke
        float: left
        font-size: 16px
    
    &-middle
      width: 100%
      margin: 0 auto

      &-head
        font-size: 26px
        font-weight: bold

      &-img
        width: 60%
        margin-top: 5%

      &-text
        color: whitesmoke
        float: left
        font-size: 16px
    
    &-right
      width: 100%
      margin: 0 auto

      &-head
        font-size: 22px
        font-weight: bold

      &-img
        width: 50%

      &-text
        color: whitesmoke
        float: left
        font-size: 18px

.section-5
  margin-top: 10%

  &__head
    font-size: 48px
    color: whitesmoke
    font-weight: bold
    margin-top: 5%
    margin-left: 2%
  
  &__text
    margin-top: 5%
    margin-left: 5%
    color: whitesmoke
    font-size: 32px

  &__black_hole   
    position: relative
    height: 120%
    width: 85%
    margin-left: 20%
    margin-top: -20%
    z-index: 1
    -webkit-animation: rotation 20s infinite linear

  &__spaceman
    position:  relative
    height: 220px
    margin-top: -45%
    margin-left: 55%
    margin-bottom: 10%
    z-index: 2
    
  @keyframes rotation 
    from 
      transform: rotate(0deg)
    to 
      transform: rotate(359deg)

  .slide-fade-enter, .slide-fade-leave-to
    transform: translateX(10px)
    opacity: 0
    transition: all 0.4s ease


.change-enter,
.change-leave-to 
  opacity: 0
  transform: rotateY(50deg)

.change-enter-to,
.change-leave 
  opacity: 1
  transform: rotateY(0deg)

.change-enter-active,
.change-leave-active 
  transition: opacity, 
  transform 200ms ease-out

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8 
@media screen and (max-width: 414px) and (max-height: 823px)

    
  .section-5
    &__head
      width: 85%
      margin-top: 10%
      margin-left: auto
      margin-right: auto
      font-size: 18px

    &__text
      width: 90%
      font-size: 16px
      margin-left: 5%
      margin-top: 4% 

    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8  (landscapes)
@media screen and (min-width: 415px) and (max-width: 823px) and (max-height: 414px)    
  .section-5
    &__head
      width: 85%
      margin-top: 10%
      margin-left: auto
      margin-right: auto
      font-size: 18px

    &__text
      width: 90%
      font-size: 16px
      margin-left: 5%
      margin-top: 4%

    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%
    
    &__black_hole
      margin-left: 10%


// Adjust for Ipad and Ipad Pro
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px)  
  .section-5
    &__head
      width: 85%
      margin-top: 5%
      margin-left: auto
      margin-right: auto
      font-size: 24px

    &__text
      width: 85%
      font-size: 20px
      margin-left: 10%
      margin-top: 5%   

    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%

// Adjust for resposive website
@media screen and (min-width: 569px) and (max-width: 768px) and (min-height: 1023px) and (max-height: 1116px) 
  .section-5
    &__head
      width: 80%
      margin-top: 5%
      margin-left: auto
      margin-right: auto
      font-size: 24px

    &__text
      width: 85%
      font-size: 18px
      margin-left: 10%
      margin-top: 5%
    
    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%

    &__black_hole
      margin-left: 10%
      height: 80%
      width: 75%


