#head_name
  width: 60%
  margin: 17% 20%

#dive_in
  color: #58F86F
  margin: 0% 40% 0% 47%
  font-size: 14px

#arrow_down
  color: white
  margin: 0.5% 44% 5% 48%
  height: 15px
  width: 15px

.section-2
  text-align: center
  
  &__pic-1
    margin: 5% 0% 3% 8%
    width: 15%
    height: 80%

  &__head
    font-size: 32px
    color: whitesmoke
    text-align: center

  &__img-1
    position: relative
    z-index: 2
    width: 35%
    margin: 5% auto
    padding-top: 10%

  &__head-3
    font-size: 26px
    position: relative
    z-index: 2
    color: #0CA8FC

  &__head-4
    position: relative
    font-size: 24px
    z-index: 2
    color: whitesmoke

  &__text-1
    position: relative
    font-size: 18px
    z-index: 2
    color: whitesmoke
    margin-bottom: 15%

  &__pic-1:after, &__pic-2:after, &__pic-3:after
    content: ''
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    z-index: 1
    background-color: #222222
    border: 1px solid black
    opacity: 0.8

  &__pic-1:hover, &__pic-2:hover, &__pic-3:hover
    border: 1px solid #58F86F
    transform: scale(1.1)
    transition: 0.5s
    cursor: pointer
    
  &__pic-2
    margin-top: 5%
    margin-left: 5%
    width: 22%
    height: 90%
    
  &__pic-3
    margin-top: 5%
    margin-left: 5%
    width: 22%
    height: 90%
  
  &__img-2
    position: relative
    width: 45%
    z-index: 2
    margin: 20% 25% 10% 15%
    
  &__img-3
    position: relative
    width: 40%
    z-index: 2
    margin: 10% 30% 5% 20%

.section-3
  &__head
    margin-top: 7%
    font-size: 34px
    margin-left: 5%
    color: whitesmoke

  &__carousel
    margin: 3% 0% 5% 5%
    width: 95%

  &__img-story
    background-color: #454746
    width: 260px
    height: 360px
    filter: grayscale(100%)
    transition: 0.5s

    &__link
      text-decoration: none !important

    &__img
      width: 100%
      height: 55%

    &__label
      margin: 5% 5%
      font-size: 20px
      color: #d9d9d9
    
    &__label-2
      margin: auto 5%
      font-size: 16px
      color: #d9d9d9
    
    &__arrow
      margin: 2% 5%
    
  &__img-story:hover
    border: 2px solid #58F86F
    filter: grayscale(0%)

.section-4
  position: relative
  height: 100%
  z-index: 2

  &__head-1
    padding-top: 10%
    font-size: 34px
    margin-left: 15%
    color: whitesmoke
  
  &__clients
    margin-top: 5%
    height: 60%  
    width: 40%
  
  &__hr_1
    margin-top: 2%
    margin-bottom: 2%
    width: 90%
    background-color: whitesmoke
  
  &__head-2
    font-size: 34px
    margin-left: 15%
    color: whitesmoke
  
  &__quotes
    text-align: center
    font-style: italic
    color: whitesmoke
    font-size: 18px
    margin-bottom: 5%

    &-img
      width: 5%
      height: 3%

.section-4:after
  content: ''
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: -1
  background-color: #222222
  border: 1px solid black
  opacity: 0.8

.section-5
  &__head
    font-size: 42px
    color: whitesmoke
    text-align: center
    margin-top: 10%
  
  &__text
    margin-top: 15%
    margin-left: 5%
    color: whitesmoke
    text-align: center
    font-size: 25px

  &__black_hole   
    position: relative
    height: 100%
    width: 75%
    margin-left: 20%
    z-index: 1
    -webkit-animation: rotation 20s infinite linear

  &__spaceman
    position:  relative
    height: 220px
    margin-top: -45%
    margin-left: 55%
    margin-bottom: 10%
    z-index: 2
    
  @keyframes rotation 
    from 
      transform: rotate(0deg)
    to 
      transform: rotate(359deg)

  .slide-fade-enter, .slide-fade-leave-to
    transform: translateX(10px)
    opacity: 0
    transition: all 0.4s ease


.change-enter,
.change-leave-to 
  opacity: 0
  transform: rotateY(50deg)

.change-enter-to,
.change-leave 
  opacity: 1
  transform: rotateY(0deg)

.change-enter-active,
.change-leave-active 
  transition: opacity, 
  transform 200ms ease-out

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8 
@media screen and (max-width: 414px) and (max-height: 823px)
  #head_name
    width: 70%
    margin: 12% 12%

  #dive_in
    margin: 0% 35% 0% 45%

  .section-2
    &__head
      font-size: 18px
    
    &__pic-1,  &__pic-2,  &__pic-3
      margin-left: 20%
    
    &__img-1, &__img-3
      margin: 10% 20% 10% 10%
      width: 45%
    
    &__img-2
      margin: 15% 20% 10% 10%
      width: 45%
    
    &__head-3
      font-size: 20px
    
    &__head-4
      font-size: 18px
    
    &__text-1
      font-size: 16px
  
  .section-3
    &__head
      font-size: 18px

  .section-4
    &__head-1, &__head-2
      font-size: 18px
    
  .section-5
    &__head
      width: 85%
      margin-top: 10%
      margin-left: auto
      margin-right: auto
      font-size: 18px

    &__text
      width: 90%
      font-size: 16px
      margin-left: 5%
      margin-top: 4% 

    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%

// Adjust for Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8  (landscapes)
@media screen and (min-width: 415px) and (max-width: 823px) and (max-height: 414px)
  #head_name
  width: 70%
  margin: 12% 12%

  #dive_in
    margin: 0% 35% 0% 45%

  .section-2
    &__head
      font-size: 18px
    
    &__pic-1
      margin-left: 8%

    &__pic-2,  &__pic-3
      margin-left: 5%
    
    &__img-1, &__img-3
      margin: 10% 20% 10% 10%
      width: 45%
    
    &__img-2
      margin: 15% 20% 10% 10%
      width: 45%
    
    &__head-3
      font-size: 20px
    
    &__head-4
      font-size: 18px
    
    &__text-1
      font-size: 16px
  
  .section-3
    &__head
      font-size: 18px

  .section-4
    &__head-1, &__head-2
      font-size: 18px
    
  .section-5
    &__head
      width: 85%
      margin-top: 10%
      margin-left: auto
      margin-right: auto
      font-size: 18px

    &__text
      width: 90%
      font-size: 16px
      margin-left: 5%
      margin-top: 4%

    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%
    
    &__black_hole
      margin-left: 10%


// Adjust for Ipad and Ipad Pro
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px)
  #head_name
    width: 70%
    margin: 12% 15%

  #dive_in
    font-size: 24px
    margin: 0% 35% 0% 48%
  
  #arrow_down
    height: 25px
    width: 35px
    margin: auto 50%

  .section-2
    &__head
      margin-top: 4%
      font-size: 24px
    
    &__pic-1,  
      margin-left: 8%
    
    &__pic-2,  &__pic-3
      margin-left: 5%
    
    &__img-1, &__img-3
      margin: 10% 20% 10% 10%
      width: 45%
    
    &__img-2
      margin: 25% 20% 20% 10%
      width: 45%
    
    &__head-3
      font-size: 20px
    
    &__head-4
      font-size: 18px
    
    &__text-1
      font-size: 16px
  
  .section-3
    &__head
      font-size: 24px

  .section-4
    &__head-1, &__head-2
      font-size: 24px
    
  .section-5
    &__head
      width: 85%
      margin-top: 5%
      margin-left: auto
      margin-right: auto
      font-size: 24px

    &__text
      width: 85%
      font-size: 20px
      margin-left: 10%
      margin-top: 5%   

    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%

// Adjust for resposive website
@media screen and (min-width: 569px) and (max-width: 768px) and (min-height: 1023px) and (max-height: 1116px)
  #head_name
    width: 70%
    margin: 12% 15%

  #dive_in
    font-size: 24px
    margin: 0% 35% 0% 48%
  
  #arrow_down
    height: 20px
    width: 30px
    margin: auto 5% 

  .section-2
    &__head
      background-color: pink
      margin-top: 4%
      font-size: 24px
    
    &__pic-1,  
      margin-left: 8%
    
    &__pic-2,  &__pic-3
      margin-left: 5%
    
    &__img-1
      margin: 10% 20% 10% 10%
      width: 45%
    
    &__img-2
      margin: 25% 20% 20% 10%
      width: 45%
    
    &__img-3
      margin: 10% 20% 15% 10%
      width: 45%
    
    &__head-3
      font-size: 20px
    
    &__head-4
      font-size: 18px
    
    &__text-1
      font-size: 16px
  
  .section-3
    &__head
      font-size: 24px

  .section-4
    &__head-1, &__head-2
      font-size: 24px
    
  .section-5
    &__head
      width: 80%
      margin-top: 5%
      margin-left: auto
      margin-right: auto
      font-size: 24px

    &__text
      width: 85%
      font-size: 18px
      margin-left: 10%
      margin-top: 5%
    
    &__spaceman
      height: 140px
      margin-top: -55%
      margin-left: 55%

    &__black_hole
      margin-left: 10%
      height: 80%
      width: 75%


