.pred-analytics
  &__hr
    width: 23% 
    
  &__header-2
    text-align: center
    color: whitesmoke
    font-size: 28px
  
  &__schema-1
    margin: 2% 22%
    height: 35%
    width: 55%
    cursor: pointer

  &__text
    text-align: center
    color: whitesmoke
    font-size: 24px
  
  &__hr-2
    width: 45%
    margin: 2% auto

  &__schema-2
    height: 60%
    width: 50%
    margin: 2% 25%
    cursor: pointer

  &__hr-2
    width: 90%
    color: whitesmoke