.pres-analytics
  &__hr
    width: 25%

  &__header-2
    text-align: center
    color: whitesmoke
    font-size: 30px
    margin-bottom: 3%
  
  &__schema-1
    margin: 0% 30% 5%
    width: 40%
    height: 50%
    cursor: pointer
  
  &__schema-2
    margin: auto 25%
    width: 50%
    height: 100%
    cursor: pointer
  
  &__text
    margin: 5% auto
    font-size: 22px
    text-align: center
    color: whitesmoke
    width: 60%