.optimizeNetwork
  text-align: center
  width: 100%
  max-width: 1240px
  margin: auto
  padding: 84px 0px
  color: white

  +media(s)
    padding: 48px 0px

  &__img
    max-width: 440px
    margin: auto

    +media(s)
      width: 380px
      padding-top: 25px

    +media(xs)
      max-width: 300px
  
  &__title
    margin-top: 60px
    font-weight: 900

    +media(xs)
      margin-top: 0
      font-size: 30px
  
  &__text
    +media(m)
      font-size: 14px

    +media(xs)
      margin-top: 0
  
  &__btn
    font-size: 16px
    color: #1C75BC

    +media(xs)
      font-size: 12px

.canvas
  position: relative !important
  display: block
  margin-top: 20px
  margin-left: auto
  margin-right: auto
