.supplychain-1
  text-align: center
  width: 100%
  max-width: 1240px
  margin: auto
  padding: 96px 0px

  &__head
    color: white
    font-size: 40px
    font-weight: bold
  
  &__text
    color: white
    font-size: 20px
    margin: auto