.supplychain-1
  text-align: center
  width: 100%
  max-width: 1240px
  margin: auto
  padding: 96px 0px

  &__head
    color: white
    font-size: 40px
    font-weight: bold
  
  &__text
    color: white
    font-size: 20px
    margin: auto
  
  &__img
    margin-top: 20px
    width: 60%

.supplychain-2
  text-align: center
  width: 100%
  max-width: 1240px
  margin: auto
  padding: 96px 0px

  &__img
    width: 90%
    margin: auto
  
  &__header
    margin-top: 15%

.supplychain-3
  text-align: center
  width: 100%
  max-width: 1240px
  margin: auto
  padding: 96px 0px

  &__img
    width: 100%
  
  &__header
    margin-top: 20%

.supplychain-4
  text-align: center
  width: 90%
  max-width: 1240px
  margin: auto
  padding: 96px 0px

  &__img
    width: 100%

.supplychain-5
  text-align: center
  width: 100%
  max-width: 1240px
  margin: auto
  padding: 96px 0px

  &__img
    max-width: 1000px
    position: absolute
    left: 750px
    filter: brightness(30%)
    -webkit-filter: brightness(30%)
  
  &__carousel
    position: relative
    margin-bottom: 10%

  &__header
    font-size: 40px
    font-weight: 900
    margin: 0px auto
    
    &-subtext
      font-size: 20px
      margin-bottom: 5%
      font-weight: bold
  
  &__text
    font-style: italic
    margin: 2% auto
    font-size: 18px
    margin-bottom: 5%

.canvas
  position: relative !important
  display: block
  margin-top: 20px
  margin-left: auto
  margin-right: auto