@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap')

.stars
  width: 100%
  height: 100%
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center
  background-attachment: fixed
  z-index: 0

.font
  font-family: 'Roboto', sans-serif
  
.blue
  color: #1C75BC

.pink
  color: #CC1599

.green
  color: #57F86F

a 
  -o-transition: .9s
  -ms-transition: .9s
  -moz-transition: .9s
  -webkit-transition: .9s

.twinkling 
  width: 100%
  height: 100%
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center
  z-index: 1

  -moz-animation: move-twink-back 2s ease infinite
  -ms-animation: move-twink-back 2s ease infinite
  -o-animation: move-twink-back 2s ease infinite
  -webkit-animation: move-twink-back 2s ease infinite
  animation-duration: 80s

@keyframes move-twink-back 
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%

@-webkit-keyframes move-twink-back 
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%

@-moz-keyframes move-twink-back
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%

@-ms-keyframes move-twink-back
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%

