// url('https://fonts.googleapis.com/css?family=Roboto:b&display=swap')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap')

.font
  font-family: 'Roboto', sans-serif
  
.blue
  color: #1C75BC

.pink
  color: #CC1599

.green
  color: #57F86F

.header
  font-size: 48px
  font-weight: 900
  color: white

.subtitle
  font-size: 20px
  color: white

.text
  font-size: 16px
  color: white

a 
  -o-transition: .9s
  -ms-transition: .9s
  -moz-transition: .9s
  -webkit-transition: .9s

.stars
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat 5% 5%
  background-attachment: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 0

.twinkling 
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat 20% 20%
  background-attachment: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1
  -moz-animation: move-twink-back 3s linear 1s infinite running
  -ms-animation: move-twink-back 3s linear 1s infinite running
  -o-animation: move-twink-back 3s linear 1s infinite running
  -webkit-animation: move-twink-back 3s linear 1s infinite running
  animation-duration: 80s

@keyframes move-twink-back 
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%

@-webkit-keyframes move-twink-back 
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%

@-moz-keyframes move-twink-back
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%

@-ms-keyframes move-twink-back
  0%
    background-position: 0% 100%
  100%
    background-position: 100% 0%
    
